@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #0b0b0b;
  --textColor: #d9d9d9;
  --accentColor: #ca63e9;
}

body {
  color: var(--textColor);
  background: linear-gradient(-80deg, #0b0b0b,#0b050d);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nodrag {
  -webkit-user-drag: none;
  user-select: none;
}